VITE_FIREBASE_API_KEY=tunuevakey
VITE_FIREBASE_AUTH_DOMAIN=tudominio.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=tuprojectid
VITE_FIREBASE_STORAGE_BUCKET=tubucket.appspot.com
VITE_FIREBASE_SENDER_ID=tusenderid
VITE_FIREBASE_APP_ID=tuappid
